<ng-container *ngIf="broadcast$ | async as broadcast">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nama broadcast *</mat-label>
      <input
        matInput
        formControlName="label"
        placeholder="Contoh: Saran dengan bintang 4"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Pesan untuk pelanggan *</mat-label>
      <textarea
        matInput
        formControlName="message"
        placeholder="Dikirim ke pelanggan maks 160 karakter"
        [mat-autosize]="true"
        rows="2"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Keterangan</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Informasi tambahan"
        [mat-autosize]="true"
        rows="2"
      ></textarea>
    </mat-form-field>

    <div class="d-flex w-100">
      <button type="button" mat-button color="warn" (click)="cancel()">
        Cancel
      </button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ms-auto"
        [disabled]="formGroup.invalid || broadcast?.status == 'loading'"
      >
        {{ data?.uuid ? "Perbarui" : "Simpan" }} Broadcast
      </button>
    </div>
  </form>
</ng-container>
