<ng-container *ngIf="spread$ | async as spread">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Boleh digunakan sebanyak *</mat-label>
      <input
        type="number"
        matInput
        formControlName="allocation"
        placeholder="Isi 0 untuk tanpa batas"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 h-auto">
      <mat-label>Aktif sampai *</mat-label>
      <input matInput [matDatepicker]="expiry_at" formControlName="expiry_at" />
      <mat-datepicker-toggle
        matSuffix
        [for]="expiry_at"
      ></mat-datepicker-toggle>
      <mat-datepicker #expiry_at></mat-datepicker>
      <mat-hint class="position-relative">
        Anda bisa merubahnya asalkan tidak melebihi masa aktif fragmen.
      </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mt-3">
      <mat-label>Kata pengantar</mat-label>
      <textarea
        matInput
        formControlName="introduction"
        placeholder="Mis: Mohon beri saran apa adanya ya"
        [mat-autosize]="true"
        rows="2"
      ></textarea>
    </mat-form-field>

    <div class="d-flex w-100 mt-3">
      <button type="button" mat-button color="warn" (click)="cancel()">
        Cancel
      </button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ms-auto"
        [disabled]="formGroup.invalid || spread?.status == 'loading'"
      >
        {{ data?.uuid ? "Perbarui" : "Simpan" }} Link
      </button>
    </div>
  </form>
</ng-container>
