<div class="container pt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <h1>Buat password baru untuk akun Anda</h1>

      <ng-container *ngIf="password$ | async as password">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="new_password" />
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Ulangi password</mat-label>
            <input matInput type="password" formControlName="retype_password" />
          </mat-form-field>

          <div class="text-end">
            <button
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="formGroup.invalid || password?.status == 'loading'"
            >
              Buat Password Baru
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>
