<div class="container pt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <h1 *ngIf="challenge == 'validate_email'">
        Kami cegah produk Anda gagal! Buat sebuah akun dan BOOM!
      </h1>

      <h1 *ngIf="challenge == 'password_recovery'">Reset password</h1>

      <h3 class="mb-0">
        Kode keamanan dikirim ke: <strong>{{ issuer }}</strong>
      </h3>

      <div class="mb-2">
        <span class="text-primary" (click)="resend()">Kirim ulang</span> kode
        keamanan
      </div>

      <app-securecode-validation
        [token]="token"
        [challenge]="challenge"
        [issuer]="issuer"
      ></app-securecode-validation>
    </div>
  </div>
</div>
