<mat-card>
  <mat-card-subtitle class="mb-1">Ganti Password</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="userData$ | async as userData">
      <p>Setelah diganti Anda harus masuk ulang dengan password baru</p>
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit(userData?.data?.user?.hexid)"
      >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password saat ini</mat-label>
          <input
            type="password"
            matInput
            formControlName="current_password"
            placeholder="Password yang digunakan sekarang"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password baru</mat-label>
          <input
            type="password"
            matInput
            formControlName="new_password"
            placeholder="Password baru"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Ulangi password baru</mat-label>
          <input
            type="password"
            matInput
            formControlName="retype_password"
            placeholder="Ulangi lagi"
          />
        </mat-form-field>

        <div class="text-end">
          <button
            mat-raised-button
            color="primary"
            [disabled]="
              changePasswordForm.invalid || userData?.status == 'loading'
            "
          >
            Ganti Password
          </button>
        </div>
      </form>
    </ng-container>
  </mat-card-content>
</mat-card>
